<!DOCTYPE html>
<html>
	<head>
		<title>Cadastro</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Shrikhand|Gloria+Hallelujah" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../stylesheets/geral.css">
		<link rel="stylesheet" type="text/css" href="../../stylesheets/header.css">
		<link rel="stylesheet" type="text/css" href="../../stylesheets/form.css">
		<script   src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../stylesheets/libs/bootstrap.min.css">
		<script type="text/javascript" src="../../scripts/libs/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width" />
	</head>
    <body>
        <% include ../../../partials/headerInvestidor %>
        <div class="form-style-10">
			<h1>Formulário de Suitability<span>Com este formulário, faremos uma análise do seu perfil de risco!</span></h1>
			<% if(typeof errors !== 'undefined') { %>
			<% 		errors.forEach(function(error){ %>
						<div class="alert alert-danger"><%= error.msg %></div>
			<%		}); %>
			<% } %>
			<form action="/dashboard/suitability" method="post">
    			<div class="section"><span>1</span>Seus investimentos</div>
    			<div class="inner-wrap">
        			<label>Como você avalia seu conhecimento sobre investimentos?</label>
                    <select name="conhecimento">
                        <option value="Nenhum conhecimento" <% if(investor.conhecimento == "Nenhum conhecimento"){ %><%= "selected" %><% } %>>Não tenho conhecimento</option>
                        <option value="Razoável" <% if(investor.conhecimento == "Razoável"){ %><%= "selected" %><% } %>>Razoável</option>
                        <option value="Bom" <% if(investor.conhecimento == "Bom"){ %><%= "selected" %><% } %>>Bom</option>
                        <option value="Excelente" <% if(investor.conhecimento == "Excelente"){ %><%= "selected" %><% } %>>Excelente</option>
                    </select><br>

                    <label>Selecione abaixo os investimentos que você tem ou já teve:</label>
                    <input name="investimento" type="checkbox" value="Poupança" <% if(investor.investimentos.indexOf("Poupança") != -1){ %><%= "checked" %><% } %>>Poupança<br>
                    <input name="investimento" type="checkbox" value="Renda Fixa" <% if(investor.investimentos.indexOf("Renda Fixa") != -1){ %><%= "checked" %><% } %>>Títulos de renda fixa (CDB, LCI, LCA, Debêntures, DPGE, FIDC, entre outros)<br>
                    <input name="investimento" type="checkbox" value="Tesouro Direto" <% if(investor.investimentos.indexOf("Tesouro Direto") != -1){ %><%= "checked" %><% } %>>Tesouro Direto (LFT, LTN, NTN-B, NTN-B Principal, NTN-C, NTN-F)<br>
                    <input name="investimento" type="checkbox" value="Fundos DI/Renda Fixa" <% if(investor.investimentos.indexOf("Fundos DI/Renda Fixa") != -1){ %><%= "checked" %><% } %>>Fundos DI e/ou de Renda Fixa<br>
                    <input name="investimento" type="checkbox" value="Fundos Multimercados" <% if(investor.investimentos.indexOf("Fundos Multimercados") != -1){ %><%= "checked" %><% } %>>Fundos multimercados<br>
                    <input name="investimento" type="checkbox" value="Fundos de Ações" <% if(investor.investimentos.indexOf("Fundos de Ações") != -1){ %><%= "checked" %><% } %>>Fundos de ações<br>
                    <input name="investimento" type="checkbox" value="Fundos Imobiliários" <% if(investor.investimentos.indexOf("Fundos Imobiliários") != -1){ %><%= "checked" %><% } %>>Fundos imobiliários<br>
                    <input name="investimento" type="checkbox" value="Previdência" <% if(investor.investimentos.indexOf("Previdência") != -1){ %><%= "checked" %><% } %>>Previdência privada<br>
                    <input name="investimento" type="checkbox" value="Ações" <% if(investor.investimentos.indexOf("Ações") != -1){ %><%= "checked" %><% } %>>Ações<br>
                    <input name="investimento" type="checkbox" value="Mercado Futuro" <% if(investor.investimentos.indexOf("Mercado Futuro") != -1){ %><%= "checked" %><% } %>>Mercado futuro - BM&F <br>
                    <input name="investimento" type="checkbox" value="Derivativos" <% if(investor.investimentos.indexOf("Derivativos") != -1){ %><%= "checked" %><% } %>>Derivativos<br>
                    <input name="investimento" type="checkbox" value="Nunca Investiu" <% if(investor.investimentos.indexOf("Nunca Investiu") != -1){ %><%= "checked" %><% } %>>Nunca investi<br><br>

                    <label>Qual é o valor aproximado dos seus investimentos financeiros atualmente?</label>
                    <select name="valorInvestido">
                        <option value="0-20000" <% if(investor.valorInvestido == "0-20000"){ %><%= "selected" %><% } %>>R$0-20.000</option>
                        <option value="20000-50000" <% if(investor.valorInvestido == "20000-50000"){ %><%= "selected" %><% } %>>R$20.000-50.000</option>
                        <option value="50000-100000" <% if(investor.valorInvestido == "50000-100000"){ %><%= "selected" %><% } %>>R$50.000-100.000</option>
                        <option value="100000-500000" <% if(investor.valorInvestido == "100000-500000"){ %><%= "selected" %><% } %>>R$100.000-500.000</option>
                        <option value="500000-1000000" <% if(investor.valorInvestido == "500000-1000000"){ %><%= "selected" %><% } %>>R$500.000-1.000.000</option>
                        <option value="1000000+" <% if(investor.valorInvestido == "1000000+"){ %><%= "selected" %><% } %>>R$1.000.000+</option>
                    </select>
                </div>
                <div class="section"><span>2</span>Análise de Risco</div>
    			<div class="inner-wrap">
                    <label>Qual é o seu objetivo ao investir?</label>
                    <select name="objetivo">
                        <option value="preservar" <% if(investor.objetivo == "preservar"){ %><%= "selected" %><% } %>>Preservar capital: corrigir os investimentos pela variação da inflação</option>
                        <option value="acumular" <% if(investor.objetivo == "acumular"){ %><%= "selected" %><% } %>>Acumular recursos: obter rentabilidade acima da inflação</option>
                        <option value="especular" <% if(investor.objetivo == "escpecular"){ %><%= "selected" %><% } %>>Especular: ter alta valorização, correndo riscos maiores, se necessário</option>
                    </select><br>

                    <label>Qual é a melhor opção para descrever sua tolerância ao risco?</label>
                    <select name="risco">
                        <option value="baixa" <% if(investor.risco == "baixa"){ %><%= "selected" %><% } %>>Baixa: quero rentabilidade acima da poupança com preservação do poder de compra</option>
                        <option value="regular" <% if(investor.risco == "regular"){ %><%= "selected" %><% } %>>Regular: quero rentabilidade próxima a taxa de juros DI (CDI) e aceito eventuais riscos</option>
                        <option value="média" <% if(investor.risco == "média"){ %><%= "selected" %><% } %>>Média: estou disposto a assumir riscos maiores para superar a taxa de juros DI (CDI)</option>
                        <option value="alta" <% if(investor.risco == "alta"){ %><%= "selected" %><% } %>>Alta: estou disposto a assumir riscos elevados para alcançar retornos expressivos</option>
                    </select><br>

                    <label>O que você faria se suas ações caíssem 20%?</label>
                    <select name="acoes">
                        <option value="venderia todas" <% if(investor.acoes == "venderia todas"){ %><%= "selected" %><% } %>>Venderia todas as minhas ações</option>
                        <option value="venderia parte" <% if(investor.acoes == "venderia parte"){ %><%= "selected" %><% } %>>Venderia uma parte de minhas ações</option>
                        <option value="manteria" <% if(investor.acoes == "manteria"){ %><%= "selected" %><% } %>>Venderia uma parte de minhas ações</option>
                        <option value="compraria" <% if(investor.acoes == "compraria"){ %><%= "selected" %><% } %>>Compraria mais ações</option>
                    </select>

                </div>
    			<div class="button-section">
     				<input type="submit" name="Sign Up" value="Enviar" />
     				<span class="error"></span>
    			</div>
			</form>
		</div>
    </body>
</html>
