<!DOCTYPE html>
<html>
<head>
    <% include ../../../partials/includes %>
</head>
<body>
	<% include ../../../partials/headerInvestidor %>
	<div class="form-style-10">
			<h1>Cadastro de Investidor<span>Mais alguns passos e você já estará investindo em nossos portfólios!</span></h1>
			<% if(typeof errors !== 'undefined') { %>
			<% 		errors.forEach(function(error){ %>
						<div class="alert alert-danger"><%= error.msg %></div>
			<%		}); %>
			<% } %>
			<form id="registerForm" action="/dashboard/cadastro-investidor/editar" method="post" enctype="multipart/form-data">
    			<div class="section"><span>1</span>Dados Pessoais</div>
    			<div class="inner-wrap">
        			<label>Nome Completo<input type="text" name="name" value="<%= investor.name %>"></label>
        			<label>CPF<input type="text" name="cpf" maxlength="14" class="cpfMask" value="<%= investor.CPF %>"></label>
        			<label>Data de Nascimento<input type="text" name="date" maxlength="10" class="dataMask" value="<%= investor.birthday %>"></label>
        			<label>Telefone Fixo<input type="text" name="telephone" maxlength="14" class="telefoneMask" value="<%= investor.phone %>"></label>
        			<label>Celular<input type="text" name="cellphone" maxlength="15" class="celularMask" value="<%= investor.cellphone %>"></label>
        			<label>Renda Mensal Declarada<input type="text" name="renda" class="moneyMask" value="<%= investor.renda %>"></label>
    			</div>
    			<div class="section"><span>2</span>Endereço Residencial</div>
    			<div class="inner-wrap">
        			<label>CEP <input type="text" name="cep" maxlength="8" class="cep" value="<%= investor.cep %>"></label>
        			<label>Logradouro <input type="text" name="logradouro" class="logradouro" value="<%= investor.logradouro %>"></label>
        			<label>Número <input type="text" name="number" value="<%= investor.numero %>"></label>
        			<label>Complemento <input type="text" name="complement" value="<%= investor.complemento %>"></label>
        			<label>Cidade <input type="text" name="city" class="city" value="<%= investor.cidade %>"></label>
        			<label>Estado <input type="text" name="state" class="state" value="<%= investor.estado %>"></label>
    			</div>
    			<div class="section"><span>2</span>Documentos</div>
    			<div class="inner-wrap">
        			<label>Anexo de Identidade (RG ou CNH) <input type="file" name="rg" value="<%= investor.rg %>"></label>
        			<label>Anexo de Identidade (verso) <input type="file" name="rgverso" value="<%= investor.rgverso %>"></label>
        			<label>Comprovante de Residência  <input type="file" name="residencia" value="<%= investor.residencia %>"></label>
    			</div>
    			<div class="button-section">
     				<input type="submit" name="Sign Up" value="Enviar" />
     				<span class="error"></span>
    			</div>
			</form>
		</div>
</body>
</html>
