<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/includes %>
	<link rel="stylesheet" href="/stylesheets/propostas.css">
</head>
<body>
	<% include ../../partials/headerEmpreendedor %>
	<div class="container">
		<% if(success_msg.length > 0) { %>
					<div class="alert alert-success"><%= success_msg %></div>
		<% } %>
		<div class="jumbotron">

		</div>
		<div class="row propostas">
		<% propostas.forEach(function(proposta){ %>
				<div class="proposta-wrapper col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<article class="proposta-item">
								<div class="upperPart">
									<div class="proposta-logo">
											<% if(proposta.status == "Análise") { %>
												<span class="glyphicon glyphicon-time"></span>
											<% } else if(proposta.status == "Aprovada") { %>
												<span style="color:green; border-color:green" class="glyphicon glyphicon-ok">
											<% } else if(proposta.status == "Rejeitada") { %>
												<span style="color:red; border-color:red" class="glyphicon glyphicon-remove">
											<% } %>
									</div>
									<div class="proposta-title">
											<h4 class="title"><%= proposta.emprestimo.valor %></h4>
											<h5 class="subtitle"><%= proposta.emprestimo.proposito %></h5>
									</div>
								</div>
								<div class="proposta-content">
									<dl>
										<dt>Prazo:</dt>
										<dd><%= proposta.emprestimo.prazo %></dd>
										<dt>Status:</dt>
										<dd><%= proposta.status %></dd>
									</dl>
								</div>
						</article>
				</div>
		<% }) %>
		</div>
	</div>
</body>
</html>
